<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Alertas do Rebanho</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/bold/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="nav1">
          <div class="logo">Cownt</div>
          <div class="hamburger" onclick="toggleMenu()">
            <i class="fa-solid fa-bars"></i>
          </div>
          <div class="menu" id="menu">
            <a href="dashboard.html"><i class="ph-bold ph-house-line"></i> Dashboard</a>
            <a href="estatisticas.html"><i class="ph-bold ph-chart-line"></i> Estatísticas</a>
            <a href="addgado.html" class="active"><i class="ph ph-cow"></i> Gerenciar Gados</a>
            <a href="registro.html"><i class="ph ph-cow"></i> Registros</a>
            <a href="ocorrenciadiaria.html"><i class="ph-bold ph-calendar-dots"></i> Ocorrências Diárias</a>
            <div class="user-menu">
              <div class="user-avatar" onclick="toggleDropdown()"><i class="ph ph-user-circle"></i></div>
              <div class="dropdown" id="dropdownMenu">
                <a class="drop-menu" href="perfil.html"><i class="ph-bold ph-user"></i> Editar Perfil</a>
                <a class="drop-menu" href="#" onclick="logout()"><i class="ph-bold ph-sign-out"></i> Sair da Conta</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    <div class="content">
        <h1 class="tit-registro">Notificações<div>
                <a href="dashboard.html" class="btn-add">Voltar ao Dashboard</a>
            </div>
        </h1>

        <p>Visualize todas as notificações organizadas por categoria</p>
        <div id="alertasCategorias" class="alertas-categorias"></div>
    </div>


    <script>
        function carregarAlertas() {
            const container = document.getElementById("alertasCategorias");
            const alertas = JSON.parse(localStorage.getItem("alertas") || "[]");

            if (!alertas.length) {
                container.innerHTML = "<p>Nenhum alerta encontrado.</p>";
                return;
            }

            const categorias = {
                "Remedio": "Vacinação/Remédio",
                "Leite": "Produção",
                "Prenhez": "Próxima de Parto",
                "Suplemento": "Outras Notificações",
                "Qualidade": "Outras Notificações"
            };

            const agrupados = {};
            alertas.forEach(a => {
                const cat = categorias[a.origem] || "Outras Notificações";
                if (!agrupados[cat]) agrupados[cat] = [];
                agrupados[cat].push(a);
            });

            Object.keys(agrupados).forEach(cat => {
                const divCat = document.createElement("div");
                divCat.classList.add("alerta-categoria");

                const header = document.createElement("div");
                header.classList.add("alerta-header");
                header.innerHTML = `
                <div class="titulo">${cat}<div class="contador">${agrupados[cat].length}</div></div>
                <div class="icon-seta">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down">
                        <path d="m6 9 6 6 6-6"/>
                    </svg>
                </div>
                `;

                const lista = document.createElement("div");
                lista.classList.add("lista-alertas");
                lista.style.display = "none";

                agrupados[cat].forEach(a => {
                    const item = document.createElement("div");
                    item.classList.add("alerta-item", a.tipo);

                    let icone = "";
                    if (a.tipo === "danger") {
                        icone = `<div class="icone-alertas"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#E53935" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-triangle-alert-icon lucide-triangle-alert"><path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3"/><path d="M12 9v4"/><path d="M12 17h.01"/></svg></div>`;
                    } else if (a.tipo === "warning") {
                        icone = `<div class="icone-alertas"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FBC02D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-alert-icon lucide-circle-alert"><circle cx="12" cy="12" r="10"/><line x1="12" x2="12" y1="8" y2="12"/><line x1="12" x2="12.01" y1="16" y2="16"/></svg></div>`;
                    } else if (a.tipo === "info") {
                        icone = `<div class="icone-alertas"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#1E88E5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-line-icon lucide-chart-line"><path d="M3 3v16a2 2 0 0 0 2 2h16"/><path d="m19 9-5 5-4-4-3 3"/></svg></div>`;
                    }

                    item.innerHTML = `
                        <div class="alerta-mensagens">${a.mensagem}
                        <span class="idgado">${a.brinco ? ` | Brinco: ${a.brinco}` : ""}</span></div>
                        ${icone}
                    `;

                    lista.appendChild(item);
                });

                divCat.addEventListener("click", () => {
                    const visivel = lista.style.display === "block";
                    lista.style.display = visivel ? "none" : "block";
                    divCat.querySelector(".icon-seta svg").style.transform = visivel ? "rotate(0deg)" : "rotate(180deg)";
                    divCat.querySelector(".icon-seta svg").style.transition = "transform 0.3s";

                    if (visivel) {
                        divCat.classList.remove("sem-hover");
                    } else {
                        divCat.classList.add("sem-hover");
                    }
                });

                divCat.appendChild(header);
                divCat.appendChild(lista);
                container.appendChild(divCat);
            });
        }

        if (window.location.pathname.includes("alertas.html")) {
            carregarAlertas();
        }


        async function atualizarStatusProdutivo() {
            try {
                const res = await fetch("https://localhost:7092/Gado/AtualizarStatusProdutivo");
                if (!res.ok) throw new Error("Erro ao atualizar status produtivo");
                const msg = await res.text();
                console.log(msg);
            } catch (error) {
                console.error("Falha ao atualizar status produtivo:", error);
            }
        }
    </script>


    <script src="app.js"></script>
</body>

</html>