body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #5a3c2d; /* marrom */
    display: flex;
    align-items: center;
    padding: 20px;
}

.nav1{
    display: flex;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 40px;
    color: white;
    padding-right: 40%;
}

.menu{
    display: flex;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 12%;
    align-items: center;
    font-size: 18px;
    display: inline-flex;
    white-space: nowrap;  
}

.menu a i {
    margin-right: 6px;
}

.menu a.active {
    background-color: #d9cbbf; /* bege */
    color: #5a3c2d;
    padding: 8px 15px;
    border-radius: 6px;
}

.menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logout {
    margin-left: 90%;
}

.logout a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logout a i {
    margin-right: 6px;
}