body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
}

nav {
    display: flex;
    background-color: #5a3c2d; /* marrom */
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.nav1{
    display: flex;
    
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 40px;
    color: white;
    padding-right: 25rem;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu a {
    display: flex;
    color: white;
    text-decoration: none;
    margin-right: 15%;
    align-items: center;
    font-size: 18px;
    justify-content: center;
    white-space: nowrap;  
}

.menu a i {
    margin-right: 6px;
    font-size: 25px;
}

.menu a.active {
    display: flex;
    background-color: #d9cbbf; /* bege */
    color: #5a3c2d;
    padding: 8px 15px;
    border-radius: 6px;
}

.menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
}



.logout a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 25rem;
}

.logout a i {
    margin-right: 6px;
    font-size: 22px;
}

@media (max-width: 1600px) {

    nav {
        display: flex;
        background-color: #5a3c2d; /* marrom */
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    
    .nav1{
        display: flex;
        
        align-items: center;
    }
    
    .logo {
        font-weight: bold;
        font-size: 40px;
        color: white;
        padding-right: 15rem;
    }
    
    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .menu a {
        display: flex;
        color: white;
        text-decoration: none;
        margin-right: 5%;
        align-items: center;
        font-size: 18px;
        justify-content: center;
        white-space: nowrap;  
    }
    
    .menu a i {
        margin-right: 6px;
    }
    
    .menu a.active {
        display: flex;
        background-color: #d9cbbf; /* bege */
        color: #5a3c2d;
        padding: 8px 15px;
        border-radius: 6px;
    }
    
    .menu {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    
    
    
    .logout a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding-left: 10rem;
    }
    
    .logout a i {
        margin-right: 6px;
    }


    @media (max-width: 1300px) {
        nav {
            display: flex;
            background-color: #5a3c2d; /* marrom */
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

        .nav1{
            display: flex;
            
            align-items: center;
        }

        .logo {
            font-weight: bold;
            font-size: 30px;
            color: white;
            padding-right: 5rem;
        }

        .menu{
            display: flex;
            align-items: center;
            justify-content: center;

        }

        .menu a {
            display: flex;
            color: white;
            text-decoration: none;
            margin-right: 5%;
            align-items: center;
            font-size: 15px;
            justify-content: center;
            white-space: nowrap;  
        }

        .menu a i {
            margin-right: 6px;
        }

        .menu a.active {
            display: flex;
            background-color: #d9cbbf; /* bege */
            color: #5a3c2d;
            padding: 8px 15px;
            border-radius: 6px;
        }

        .menu {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }



        .logout a {
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            padding-left: 10rem;
        }

        .logout a i {
            margin-right: 6px;
        }
    }
}